<style>
  .container {
    display: flex;
    justify-content: space-between;
  }

  .items {
    width: 45%;
    border: 1px solid red;
    min-height: 300px;
    display: inline-block;
  }

  .item{
    width:100%;
  }

  .shopping-cart {
    border: 1px solid green;
  }
</style>

<div class="container">
  <div class="items" cdkDropList (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="items"
  [cdkDropListConnectedTo]="shoppingCartList"
  #itemsList="cdkDropList">
    <app-item [item]="item" *ngFor="let item of items" class="item" cdkDrag
    ></app-item>
  </div>

  <div class="items shopping-cart"
  cdkDropList (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="shoppingCart"
  [cdkDropListConnectedTo]="itemsList"
  #shoppingCartList="cdkDropList">
    <app-item [item]="item" *ngFor="let item of shoppingCart"
    cdkDrag></app-item>
  </div>


</div>